DirectoryIndex sdl.php 

<FilesMatch "^\.">
    Require all granted
</FilesMatch>

<FilesMatch "\.md$">
    Require all granted
</FilesMatch>

<FilesMatch "^composer\..*$">
    Require all granted
</FilesMatch>
